 <!--<table class="customers">
        <thead>
          <tr>
            <th>Packages in Versions.xml</th>
        </tr>
        <tr>
            <th>Packages Missing</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of list">
        <td>{{i}}</td>
      </tr>
      </tbody>
    </table>-->


    <table class="customers">
        <tr>
          <th>Packages in version.xml</th>
          <th>Packages Missing</th>
        </tr>
        <tr *ngFor="let i of list">
          <td>{{i}}</td>
        </tr>
      </table>
      
    
