<app-header></app-header>

<form [formGroup]="exform" (ngSubmit)="SaveFormData(exform.value)">
   
    <div class="centered">
        <div class="atmid">
            <label for="ATMID">ENTER ATM ID</label>
            <input formControlName="atmid" type="text" id="atmid" class="form-control">
            <div class="alert"   *ngIf="exform.get('atmid').invalid && exform.get('atmid').touched">Please enter ATM ID</div>             
        </div>
        <div class="vendor">
            <label for="ATMVendor">Select Vendor</label>
            <select formControlName="vendor" name="vendor" id="vendorName" class="form-control">
                <option *ngFor="let vendor of vendorNames" [value]="vendor.id">{{vendor.label}}</option>
            </select>
            <div class="alert"  *ngIf="exform.get('vendor').invalid && exform.get('vendor').touched">Please select Vendor</div>
        </div>
        <div class="os">
            <label for="ATMOs">Select OS Version</label>
            <select formControlName="osversion" name="os" id="OsVersion" class="form-control">
                <option *ngFor="let version of versions" [value]="version.id">{{version.label}}</option>
            </select>
            <div class="alert"  *ngIf="exform.get('osversion').invalid && exform.get('osversion').touched">Please select OS Version</div>
        </div>
        <label for="formFile" class="form-label">Browse Versions</label>
        <div class="file-input">
            
            <input class="form-control" formControlName="versionsfile" type="file" id="formFile" (change)="selectFile($event)">
            
           
            <div class="alert"  *ngIf="exform.get('versionsfile').invalid && exform.get('versionsfile').touched">Please browse and select a file</div>
        </div>
       
        <button class="btn">Submit</button>
    </div>
   
</form>


